* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.carousel {
  max-width: 70%;
  overflow: hidden;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  img {
  max-width: 100%;
  }
  
  .slider-images {
    display: flex;
}
.dotSpan {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  background-color: black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  -moz-transition: background ease-in-out .5s;
  -o-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dots {
  display: flex;
  justify-content: space-between;
}
input:checked ~ .slider-controls > label { 
  width: 30px;
  height: 8px;
  margin: 6px;
  cursor: pointer;
  background-color: #000;
  opacity: .5;
  border-radius: 10px;
  transition: all 0.4s ease;
  }
  #s1:checked ~ .slider-images{
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 1s;
 }
  #s2:checked ~ .slider-images{
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
 }
 #s3:checked ~ .slider-images{
  transform: translateX(-200%);
  transition-property: transform;
    transition-duration: 1s;
}
#s4:checked ~ .slider-images{
  transform: translateX(-300%);
  transition-property: transform;
    transition-duration: 1s;
}
#s5:checked ~ .slider-images{
  transform: translateX(-400%);
  transition-property: transform;
    transition-duration: 1s;
}
.captures {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}